.path {
  /* fill: rgb(132, 0, 255); */
  /* stroke: rgb(243, 197, 12); */
  /* stroke: cornsilk; */
  /* stroke-width: 0.5px; */
}

.path:hover {
  cursor: pointer;
  /* fill: rgb(255, 145, 0); 
   fill-opacity: 0.5;  */
}

.circleSvg{
  opacity: 0.2;
}

.circleSvg:hover{
  cursor: pointer;
  opacity: 0.6;
}