.componentStyles{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.compo1Styles{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 2% 0% 2% 0%;
    border-right: 2px solid black;
    height: 80vh;
}


.compo2Styles{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0% 2% 0%;
    row-gap: 10px;
}

.compo1Btn{
    background-color: red;
    color: white;
    border-color: red;
    border-radius: 10px;
    padding: 1%;
}

.compo1Btn:hover{
    cursor: pointer;
}

.compo2StylesDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    margin-right: 10px;
}


.compo2Btn{
    background-color: green;
    color: white;
    border-color: green;
    border-radius: 10px;
    padding: 1%;
}


.compo2Btn:hover{
    cursor: pointer;
}